
  .cart {
    color: #66b3f1
  }


  .layers {
    display: inline-block;
    height: 1em;
    position: relative;
    text-align: center;
    vertical-align: -0.125em;
    width: 1em;
  }

  .fa-custom-counter {
    transform: scale(0.5);
  }

  .layers-counter {
    display: inline-block;
    position: absolute;
    text-align: center;
    background-color: var(--fa-counter-background-color, #ff253a);
    border-radius: var(--fa-counter-border-radius, 1em);
    box-sizing: border-box;
    color: var(--fa-inverse, #fff);
    line-height: var(--fa-counter-line-height, 1);
    max-width: var(--fa-counter-max-width, 5em);
    min-width: var(--fa-counter-min-width, 1.5em);
    overflow: hidden;
    padding: var(--fa-counter-padding, 0.25em 0.5em);
    right: var(--fa-right, 0);
    text-overflow: ellipsis;
    top: var(--fa-top, 0);
    -webkit-transform: scale(var(--fa-counter-scale, 0.25));
    transform: scale(var(--fa-counter-scale, 0.25));
    -webkit-transform-origin: top right;
    transform-origin: top right;
  }

  :root {
    fa-layers {
      font-size: 1em;

      fa-layers-counter {
        font-size: 1.2em;
      }
    }
  }
  